/* app-level wrapper */
.app-root {
  width: 100%;
  box-sizing: border-box;
}

/* Contenedor central que determina el ancho máximo del sitio */
.site-container {
  width: 100%;  
  margin: 0 auto;      /* centra horizontalmente */
  padding: 10px 80px;       /* separaciones internas */
  box-sizing: border-box;
}
