<div class="date-filters">
  <label for="fechaInicio">Fecha Inicio:</label>
  <input type="date" id="fechaInicio" name="fechaInicio" [(ngModel)]="fechaInicio">


  <label for="fechaFin">Fecha Fin:</label>
<input type="date" id="fechaFin" name="fechaFin" [(ngModel)]="fechaFin">

  <button class="btn-filtrar" (click)="filtrarPorFechas()">buscar</button>
</div>

<div class="section" style="align-items: center;">
  <div class="charts-container">        
        <div class="chart-column" style="height: 500px;position: relative;">
            <app-bar-chart
                [orientation]="'y'"
                [data]="datosPlacasPaginados"
                [labels]="labelsPlacasPaginadas"
                title="Vehículos más escoltados"
                [placa]="true"
                [escolta]="false">
            </app-bar-chart>

            <div class="pagination" style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%);">
                <button (click)="prevPage()" [disabled]="currentPage === 0">Anterior</button>
                <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
                <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Siguiente</button>
            </div>
        </div>
        
        <div class="chart-column">
        <app-bar-chart
            [data]="datosConsignacion"
            [labels]="labelsEscolta ?? []"
            [value]="false"
            [formartterDiner]="true"
            title="Consignación por escolta">
        </app-bar-chart>
        </div>
            
    <div class="totalConsignacion"> 
        <h3>Total Consignacion </h3> 
        <p>{{totalConsignacionValue}}</p>
        <br>
        <h3>Total acompañamientos</h3>
        <p>{{totalAcompValue}}</p>
        <h3>Total punto de venta</h3>
        <p>{{totalSitiosValue}}</p>
        <h3>Total empalmes</h3>        
        <p>{{totalEmpalmesValue}}</p>
    </div>    
  </div>
</div>

<div class="section-bar" >
    <app-bar-chart 
        [datasets]="multiSeries"
        [labels]="labelsEscolta ?? []"
        title="Estadísticas de General"
        [escolta]="false">
    </app-bar-chart>
    <app-bar-chart      
        [orientation]="'y'"
        [labels]="labelsEscolta ?? []"
        [data]="datosMarcaciones"
        title="Marcaciones por escolta"
        [escolta]="false"
        [value]="false">                   
    </app-bar-chart>
</div>

<div class="pie-grid">
    <app-pie-chart [data]="datosSitio" [labels]="labelsEscolta ?? []" title="Cantidad de visitas a puntos de venta"></app-pie-chart>
    <app-pie-chart [data]="datosEmpalmes" [labels]="labelsEscolta ?? []" title="Cantidad de empalmes"></app-pie-chart>
    <app-pie-chart [data]="datosAcomp" [labels]="labelsEscolta ?? []" title="Cantidad de acompañamientos"></app-pie-chart>
</div>