 .flex {
        display: flex;
      }

      .map {
        height: 500px;
        width: 100%;
      }

      .legend {
        width: 200px;
        background: #f8f9fa;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        margin-right: 10px;
        font-family: sans-serif;
      }

      .legend h3 {
        margin-top: 0;
        font-size: 1.1rem;
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
      }

      .legend ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .legend li {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
      }

      .color-box {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        margin-right: 8px;
      }