Software a la medida
Cuales son las herramientas de medicion que me brindaran
Forma sencilla de entrar a un formulario, dividia por cliente?
FORMULARIOS
Los formularios son consultados por cliente? por empresa? por planta?
realmente no importa, y se hace una consulta general segun la "categoria" del formulario


DASHBOARD
la cantidad de auditorias por palntas
añadir porcentajes de los hallazgos, sobrantes y faltantes

- teniendo en cuenta la cantidad de informacion que se quiere mostrar en el DASHBOARD
que tan buena idea es trabajar con bd NOSQL?
No seria un JSON demasiado grande y al realizar un select no seria mucha informacion de golpe?

INTERNET FLOJO
el flujo del internet no siempre es bueno en los dispositivos moviles
por lo tanto se debe considerar que la aplicacion funcione en esas condiciones
quizas una aplicacion hibrida que guarde los datos localmente y luego los envie
¿estamos obligados a usar app movil?


VARIEDAD EN LOS FORMULARIOS
- si tienen categoria (calidad industrial, mantenimiento...)
- y subcategorias?


personas, paquetes, vehiculos, contratistas, ¿¿ molinetes ??


Software contorl de acceso con lactalis? que conlleva, el que tenemos maneja todos los aspectos que ellos necesitan?


REQUERIMIENTOS ESPECIFICOS
- control de acceso con lactalis
- envio de correo electronico cada vez que se regsitre la temperatura (es un tema muy sensible)
